D:\WhatIKnow\.Net\Angular-dotnet\Angular-App\.angular
D:\WhatIKnow\.Net\Angular-dotnet\Angular-App\node_modules
D:\WhatIKnow\.Net\Angular-dotnet\Angular-App-Backend\Web-Api\bin
D:\WhatIKnow\.Net\Angular-dotnet\Angular-App-Backend\Web-Api\obj
