<div class="card">
  <div class="card-img-wrapper">
    <img *ngIf="Property.image" class="card-img-top" src="assests/{{Property.image}}"  />
    <img *ngIf="!Property.image" class="card-img-top" src="favicon.ico"  />
    <ul *ngIf="!hideIcons" class="list-inline text-center member-icons">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/property-details/{{Property.id}}">Details</button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">C</button>
      </li>
    </ul>
  </div>
 <div class="card-body p-1">
    <h1 class="mb-0"> {{Property.bhk}} BHK {{Property.propertyType}} </h1>

    in {{Property.name}}
    <span *ngIf="Property.name">,</span>
    {{Property.city}}

    <h6  class="mt-2">{{Property.furnishingType}}
    <span *ngIf="Property.furnishingType !== 'Unfurnished'">Furnished</span>
    <span *ngIf="Property.readyToMove"> | Ready to Move</span>
    <span *ngIf="!Property.readyToMove"> | Posession: {{Property.estPossessionOn | date}}</span>
    </h6>

    <hr class="mt-0 mb-2">

    <h6 class="mb-0">Price: <span class="font-highlight">{{Property.price}} USD.</span> |
      Area:  <span class="font-highlight">{{Property.builtArea}} Sq Ft </span> </h6>
  </div>
</div>
