<div class="card">
  <div class="card-img-wrapper">
    <img *ngIf="Property.Image" class="card-img-top" src="assests/{{Property.Image}}"  />
    <img *ngIf="!Property.Image" class="card-img-top" src="favicon.ico"  />
    <ul class="list-inline text-center member-icons">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/property-details/{{Property.id}}">Details</button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">C</button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h1>{{ Property.Type }}</h1>
    <h2>{{ Property.id }}</h2>
    <h3>{{ Property.Price }}</h3>
  </div>
</div>
