<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Hotels</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="Active"
            routerLink="/"
            >Buy <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="Active"
            routerLink="/rent-property"
            >Rent</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="Active"
            routerLink="/add-property"
            >List Property (Free)</a
          >
        </li>
      </ul>
      <div>
        <ul class="nav navbar-nav">
          <li *ngIf="!loggedIn()" class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="Active"
              routerLink="users/register"
              >Register</a
            >
          </li>
          <li *ngIf="!loggedIn()" class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="Active"
              routerLink="users/login"
              >Login</a
            >
          </li>
          <div *ngIf="loggedIn()" class="dropdown mr-5" dropdown>
            <a href="#" class="dropdown-toggle text-light" dropdownToggle (click)="false">
                Welcome {{loggedinUser}}
            </a>
            <div class="dropdown-menu" *dropdownMenu>
                <a href="#"class="dropdown-item">
                  <i class="fas fa-tachometer-alt"></i> View Dashboard</a>
                <a href="#" class="dropdown-item">
                  <i class="far fa-user-circle"></i> My Profile</a>
                <a href="#" class="dropdown-item">
                  <i class="fas fa-key"></i> Change Password</a>
                <a (click)='logOut()' class="dropdown-item">
                  <i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- routerLink: This helps in rerouting the app without reloading a web page or app -->
<!-- routerLinkActive="Active": This helps in dynamicaly enabeling/disabling links, this has drawback if the paths are partially matching then also this will be set to active-> to fix this follow next step -->
<!--  [routerLinkActiveOptions]="{exact:true}" : This helps in setting a link to inactive which has a root path of some other-->
