{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'accounts/bootstrap.css' %}">
    <script src="{% static 'accounts/jquery-1.8.2.min.js' %} "></script>
    <script src="{% static 'accounts/bootstrap.js' %} "></script>

    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}"/>
    <script src="{% static ' accounts/javascript.js' %} "></script>
    <script type="text/javascript" src="{% static ' accounts/javascript.js' %} "></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

</head>
<body>
    {% block content %}
    <center>
    <form>
        <div class="col-md-5" style="margin-top: 50px;">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
        </center>
    {% endblock %}

</body>
</html>