<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.forensicmart.dfsl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.EXTERNAL_CONTENT_URI" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DFSL"
        tools:targetApi="31">
        <activity
            android:name=".Activities.Login"
            android:exported="false" />
        <activity
            android:name=".Activities.Authenticate"
            android:exported="false" />
        <activity
            android:name=".Activities.Video"
            android:exported="false" />
        <activity
            android:name=".Activities.Share"
            android:exported="false" />
        <activity
            android:name=".Activities.PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".Activities.Notes"
            android:exported="false"
            android:label="@string/title_activity_notes"
            android:theme="@style/Theme.DFSL.NoActionBar" />
        <activity
            android:name=".Activities.MoreApps"
            android:exported="false"
            android:label="@string/title_activity_more_apps"
            android:theme="@style/Theme.DFSL.NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.DFSL.NoActionBar" />
        <activity
            android:name=".Activities.Index"
            android:exported="true"
            android:label="@string/title_activity_index"
            android:theme="@style/Theme.DFSL.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Disclaimer"
            android:exported="false"
            android:label="@string/title_activity_disclaimer"
            android:theme="@style/Theme.DFSL.NoActionBar" />
        <activity
            android:name=".Activities.ContactUS"
            android:exported="false"
            android:label="@string/title_activity_contact_us"
            android:theme="@style/Theme.DFSL.NoActionBar" />
        <activity
            android:name=".Activities.Books"
            android:exported="false"
            android:label="@string/title_activity_books"
            android:theme="@style/Theme.DFSL.NoActionBar" />
        <activity
            android:name=".Activities.AboutUs"
            android:exported="false"
            android:label="@string/title_activity_about_us"
            android:theme="@style/Theme.DFSL.NoActionBar" />
    </application>

</manifest>